<div class="card card-register mx-auto mt-5">
    <div class="header-wrap">
        <a href="/admin/rooms" class="menu btn-primary">채팅방</a>
        <a href="/admin/users" class="menu btn-primary">전체유저</a>
        <a href="/friend/requests" class="menu btn-primary">친구</a>
        <a href="/admin/logout" class="menu btn-primary">로그아웃</a>
    </div>
    <div class="card-header">전체유저</div>
    <div class="card-body">
        {{#each users}}
        <div class="card mb-2">
            <div class="card-body">
                <h4 class="card-title">ID: {{userId}}</h4>
                <p class="card-text">가입날짜: {{generateTime createdAt 'MMMM Do YYYY'}}</p>
                <p class="card-text">친구수: {{friends}}</p>
                {{#if myFriend}}
                {{else}}
                <form action="/friend/addrequest" method="post">
                    <input type="hidden" name="hostId" value={{id}} />
                    <button type="submit" class="btn btn-primary">친구요청</button>
                </form>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>

</div>